@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?qx3bee');
  src:  url('icomoon.eot?qx3bee#iefix') format('embedded-opentype'),
    url('icomoon.ttf?qx3bee') format('truetype'),
    url('icomoon.woff?qx3bee') format('woff'),
    url('icomoon.svg?qx3bee#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Logo_registrate_empresas:before {
  content: "\e936";
}
.icon-Logo_vacante_empleo:before {
  content: "\e937";
}
.icon-Logo_nuevos_socios:before {
  content: "\e938";
}
.icon-Logo_actualiza_perfil:before {
  content: "\e939";
}
.icon-Logo_net540_beta:before {
  content: "\e935";
}
.icon-Logo_estadisticas:before {
  content: "\e900";
}
.icon-Logo_guardar:before {
  content: "\e901";
}
.icon-Logo_check:before {
  content: "\e902";
}
.icon-Logo_denunciar:before {
  content: "\e903";
}
.icon-Logo_crea-tu-red:before {
  content: "\e904";
}
.icon-Logo_comparte:before {
  content: "\e905";
}
.icon-Logo_cupones_varios:before {
  content: "\e906";
}
.icon-Logo_sube-tu-hoja-de-vida:before {
  content: "\e907";
}
.icon-Logo_registrate:before {
  content: "\e908";
}
.icon-Logo_documento:before {
  content: "\e909";
}
.icon-Logo_camara:before {
  content: "\e90a";
}
.icon-Logo_edificio:before {
  content: "\e90b";
}
.icon-Logo_atencion:before {
  content: "\e90c";
}
.icon-Logo_bloqueo:before {
  content: "\e90d";
}
.icon-Logo_ubicacion:before {
  content: "\e90e";
}
.icon-Logo_preguntas:before {
  content: "\e90f";
}
.icon-Logo_escudo:before {
  content: "\e910";
}
.icon-Logo_proceso:before {
  content: "\e911";
}
.icon-Logo_aplicaciones:before {
  content: "\e912";
}
.icon-Logo_cupones:before {
  content: "\e913";
}
.icon-Logo_descargar:before {
  content: "\e914";
}
.icon-Logo_cargar:before {
  content: "\e915";
}
.icon-Logo_contactos:before {
  content: "\e916";
}
.icon-Logo_540:before {
  content: "\e917";
}
.icon-Logo_adelante:before {
  content: "\e918";
}
.icon-Logo_ajustes:before {
  content: "\e919";
}
.icon-Logo_atras:before {
  content: "\e91a";
}
.icon-Logo_bajar:before {
  content: "\e91b";
}
.icon-Logo_bombillo:before {
  content: "\e91c";
}
.icon-Logo_bombillo_encendido:before {
  content: "\e91d";
}
.icon-Logo_brujula:before {
  content: "\e91e";
}
.icon-Logo_compartir:before {
  content: "\e91f";
}
.icon-Logo_copyright:before {
  content: "\e920";
}
.icon-Logo_desplegar:before {
  content: "\e921";
}
.icon-Logo_equis:before {
  content: "\e922";
}
.icon-Logo_facebook:before {
  content: "\e923";
}
.icon-Logo_finalista:before {
  content: "\e924";
}
.icon-Logo_instagram:before {
  content: "\e925";
}
.icon-Logo_lapiz:before {
  content: "\e926";
}
.icon-Logo_linkedin:before {
  content: "\e927";
}
.icon-Logo_Lupa:before {
  content: "\e928";
}
.icon-Logo_maletin:before {
  content: "\e929";
}
.icon-Logo_mas:before {
  content: "\e92a";
}
.icon-Logo_mensaje:before {
  content: "\e92b";
}
.icon-Logo_net540:before {
  content: "\e92c";
}
.icon-Logo_notificaciones:before {
  content: "\e92d";
}
.icon-Logo_ojo_abierto:before {
  content: "\e92e";
}
.icon-Logo_ojo_cerrado:before {
  content: "\e92f";
}
.icon-Logo_opciones:before {
  content: "\e930";
}
.icon-Logo_perfil:before {
  content: "\e931";
}
.icon-Logo_punto:before {
  content: "\e932";
}
.icon-Logo_subir:before {
  content: "\e933";
}
.icon-Logo_youtube:before {
  content: "\e934";
}
